doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title= title
    link(rel='stylesheet', href='/res/default.css')
  body
    div(id="candy" style="height: 100%;")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js')
    script(src='/javascripts/libs.min.js')
    script(src='/javascripts/candy.min.js')
    script(type='text/javascript').
      $(document).ready(function() {
        Candy.init('/http-bind/', {
          core: {
            debug: true,
            autojoin: ['engineers@conference.xmpp.myogre.com', 'operations@conference.xmpp.myogre.com']
          },
          view: { resources: '/res/' }
        });
        Candy.Core.connect('#{user.username}@xmpp.myogre.com');
        //Candy.Core.connect('xmpp.contegix.com:5223', null, 'jonathan.creasy');
      });