extends layout
block head
    link(rel='stylesheet', href='/stylesheets/login.css')
block content
     #container
        #message
        if message
            p(class='text-error') #{message}
        form(class='form-signin',action='/account/login',method='post')
            h2(class='form-signin-heading') Please sign in
            .username
                label Username
                input(type='text', name='username', class='form-control')
            .password
                label Password
                input(type='password', name='password', class='form-control')
            .submit
                input(type='submit', name='submit', class='btn btn-lg btn-primary btn-block')
