extends layout
block head
  link(rel='stylesheet', href='/stylesheets/login.css')
block content
  #container
    #message
      if message
          p.text-error #{message}
    form(action='/account/login',method='post').form-signin
        h2.form-signin.heading Please sign in
        input(type="hidden", name='_csrf', value="#{token}")
        .username
            label Username
            input(type='text', name='username').form-control
        .password
            label Password
            input(type='password', name='password').form-control
        .submit
            input(type='submit', name='submit').btn.btn-lg.btn-primary.btn-block
