extends ../layout_nologin

block head
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.min.css')
  link(rel='stylesheet', href='/chosen/chosen.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-nav-wizard.css')
  style(type='text/css').
    .panel-wizard {
      height: 29em;
    }
    .panel-body.main {
      height: 90%;
    }
    .label {
      color: #000000;
    }
    .item{
      cursor:move;
    }

    .selected{
      /* background-color:#ff9900; */
    }

    .list{
      / * border:1px solid yellow; */
    }

block content
  .row
    .page-header
      h1 Create a new Ticket
  .row
    .col-md-2
      .panel.panel-default
        .panel-heading
          h4 Ticket Information
        .panel-body
          #clientIDDisplay
          #contactListDisplay
          #deviceIDDisplay
    .col-md-10
      .row
        .col-md-11
          ul(id="workflowTabs").nav-wizard
            li: a(href="#client", data-toggle="tab") Customer
            li: a(href="#contacts", data-toggle="tab") Contacts
            li: a(href="#device", data-toggle="tab") Device
            li: a(href="#body", data-toggle="tab") Body
            li: a(href="#complete", data-toggle="tab") Complete
          #tab-content.tab-content
            #client.tab-pane.active
                .panel.panel-default.panel-wizard
                  .panel-heading Select the Customer
                  div.panel-body
                    .row.panel-body.main
                      select(id="clientID", data-placeholder="Select a Client").chosen-select
                        each client in clients
                          option(value="#{client.clientid}") #{client.company}
                    .row.panel-body
                      .btn.btn-default.pull-left.disabled &laquo; Back
                      .btn.btn-default.pull-right.tabContacts Next &raquo;
            #contacts.tab-pane
              .panel.panel-default.panel-wizard
                .panel-heading Select the Contacts
                .panel-body
                  .row.panel-body
                    .col-md-5
                      .row
                        .panel.panel-default
                          .panel-heading Contacts to address this ticket to:
                          .panel-body
                            #toList.droppable.list
                      .row
                        .panel.panel-default
                          .panel-heading Contacts to also send a copy to (cc):
                          .panel-body
                            #toList.droppable.list
                    .col-md-4
                      #sourceList.droppable.list.well
                    .col-md-3
                      ul.list-group
                        li.list-group-item: span.label.glyphicon.glyphicon-ok-sign &nbsp;Can Submit
                        li.list-group-item: span.label.glyphicon.glyphicon-eye-open &nbsp;Can View
                        li.list-group-item: span.label.glyphicon.glyphicon-user &nbsp;Manage Contacts
                        li.list-group-item: span.label.glyphicon.glyphicon-usd &nbsp;Billing Access
                        li.list-group-item: span.label.glyphicon.glyphicon-star-empty &nbsp;DC Access
                        li.list-group-item: span.label.glyphicon.glyphicon-exclamation-sign &nbsp;No Access
                  .row.panel-body
                    .btn.btn-default.pull-left.tabClient &laquo; Back
                    .btn.btn-default.pull-right.tabDevice Next &raquo;
            #device.tab-pane
              .panel.panel-default.panel-wizard
                .panel-heading Select the Device
                .panel-body
                  .row.panel-body
                    select(id="deviceID", data-placeholder="Select a Device").chosen-select
                  .row.panel-body
                    .btn.btn-default.pull-left.tabContacts &laquo; Back
                    .btn.btn-default.pull-right.tabBody Next &raquo;
            #body.tab-pane
              .panel.panel-default.panel-wizard
                .panel-heading Complete the Ticket
                .panel-body
                  .row.panel-body
                    p Time: <br/> Subject: <br/> Body: <br/>
                  .row.panel-body
                    .btn.btn-default.pull-left.tabDevice &laquo; Back
                    .btn.btn-default.pull-right.tabComplete Next &raquo;
            #complete.tab-pane
              .panel.panel-default.panel-wizard.panel-wizard
                .panel-heading Complete!
                .panel-body
                  .row.panel-body
                    p Yay done!

block footer
  script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
  script(src="/chosen/chosen.jquery.min.js")
  script(src="/javascripts/newTicketWizard.js")
