lib-cov
coverage
pattern
*.log
logs
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.idea
pids
lcov.info
coverage.*
xunit.xml
jshint.xml
logs
results
src/config/roleManagerConfig.json
src/config/system-credentials.js
src/config/system-credentials.js.tmp
npm-debug.log
node_modules
dump.rdb
access.log
system-credentials.js
system-credentials.js.tmp
