doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title=title
    script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/3.0.3/yeti/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/ionicons.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    block head
  body
    a(href="#content").sr-only Skip to main content
    .container
      #alert.container
        #alert
      #nav.container
        include _navbar
        block navbar
      #content.container
        .row
          .col-md-14
            block content
    include _footer
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
    script(src='/javascripts/sockets/base.js')
    block footer
