extends layout
block content
    #login
    form(action='/login', method='post')
        .username
            label Username
            input(type='text', name='username')
        .password
            label Password
            input(type='password', name='password')
        .submit
            input(type='submit', name='submit')