extends ../../layout
block head
block content
  .page-header
    h1 Submission Complete
  .container
    .col-md-12
      .btn-group
        a.btn.btn-primary(type="button", href="/sales/activity/new") Submit New
        a.btn.btn-default(type="button", href="/sales/activity") View Existing