extends ../layout
block head
  include ../datatables_css

block content
    .page-header
      h1 Device List
    .container
      table(id="table_clients").table.table-condensed.table-striped
        thead
          tr
            th ID
            th Name
            th Company
            th Email
            th Phone
            th Salespserson
        tbody


block footer
  include ../datatables_js
  script(type='text/javascript').
    $(document).ready(function() {
      $('#table_clients').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/ubersmith/clients/list',
        "iDisplayLength": 10,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "clientid"
          }, {
            "mData": "full_name"
          }, {
            "mData": "company",
            "mRender": function(company, type, row) {
              return '<a href="/ubersmith/clients/clientid/' + row['clientid'] + '">' + company + '</a>';
             }
          }, {
            "mData": "email"
          }, {
            "mData": "phone",
          }, {
            "mData": "salesperson",
          }],
        "aaSorting": [[1,'asc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });