extends ../layout
block head
  link(rel='stylesheet', href='/stylesheets/dataTables.bootstrap.css')

block content
  .container.col-xs-16.col-md-12
    .row
      .page-header
        h1 Ticket List
    .row
      .col-xs-16.col-md-12
        .panel.panel-default
          .panel-heading
            p Ubersmith Tickets
              span.label.label-primary.pull-right Total: 0
          .panel-body
            table(id="table_tickets").table.table-condensed
              thead
                tr
                  th ID
                  th Created
                  th Priority
                  th Type
                  th Company
                  th Assignee
                  th Subject
                  th Touched
              tbody
block footer
  script(src='/javascripts/jquery.dataTables.min.js')
  script(src='/javascripts/dataTables.bootstrap.js')
  script(type='text/javascript').
    $(document).ready(function() {
      $('#table_tickets').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/api/v1/ubersmith/tickets',
        "iDisplayLength": 10,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "ticket_id",
            "mRender": function (ticket_id) {
              return '<a href="/ubersmith/tickets/ticketid/' + ticket_id + '">' + ticket_id + '</a>';
            }
          }, {
            "mData": "timestamp"
          }, {
            "mData": "priority"
          }, {
            "mData": "type"
          }, {
            "mData": "listed_company",
            "mRender": function (listed_company, type, row) {
              if (listed_company)
              {
                return '<a href="/ubersmith/clients/clientid/' + row['client_id'] + '">' + listed_company.slice(0,15) + '</a>';
              } else {
                return '-';
              }
            }
          }, {
            "mData": "admin_username"
          }, {
            "mData": "subject",
            "mRender": function (subject, type, row) {
              return '<a href="/ubersmith/tickets/ticketid/' + row['ticket_id'] + '">' + subject.slice(0,65) + '</a>';
            }
          }, {
            "mData": "activity"
          }],
        "aaSorting": [[1,'desc'],[2, 'desc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });