extends ../layout
block head
  include ../datatables_css
block content
  .page-header
    h1 Submit Lead Activity
  .container
    table(id="table_clients").table.table-condensed.table-striped
      thead
        tr

      tbody