body {
    padding-top: 40px;
}

a {
    color: #00B7FF;
}

.navbar
{
   /* background-color: #5e00ff;*/
}

.navbar-default .navbar-nav>li>a
{
  color: #000000;
}

#numNodes, #numResources, #resourceDupes, #resourcesPerNode, #successGauge, #failuresGauge, #noopsGauge, #skipsGauge {
    width:100px; height:80px;
    display: inline-block;
    margin: 1em;
}

.navbar-default .navbar-nav>li>a
{
  padding-bottom: 12px;
}
.alert-success, .alert-danger, .alert-warning, .alert-info
{
    background-image: none;
}
.nav-button
{
  padding-bottom: 11px;
  padding-top: 11px;
}

.panel-heading
{
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom-width: 0px;
}
.panel-heading>.navbar
{
    margin-bottom: 0px;
}

.navbar>.navbar-header>.btn
{
    display: inline-block !important;
    vertical-align: middle !important;
    margin-top: 4px;
}
.dataTables_wrapper
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.wide-bootbox {
    width:70%;
    margin-left: auto ;
    margin-right: auto ;
    /*overflow:hidden;*/
}

.small-bootbox {
    width: 400px;
    height: 225px;
    margin-top: 250px;
    margin-left: auto ;
    margin-right: auto ;
    overflow:hidden;
}

.modal-dialog, .modal-content, .modal-body, .modal-footer {
    width:100%;
}

.btn-event
{
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 7px;
    margin-left: 6px;
    margin-right: 6px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width: 0px;
    border-right-width: 0px;
    height: 26px;
}

.span-event.silenced
{
    color: red;
}

.span-event.client
{
    margin-left: 6px;
    margin-right: 6px;
}
.span-event.active
{
    color: black;
}
     /*
.panelGauge {
    display: block;
    cursor: pointer;
    width: 90;
    height: 35px;
    text-align: center;
    background-color: #3071a9;
    opacity: 0.80;
    -webkit-perspective: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float: left;
    border: 0;
    color: #ffffff;
    margin-top: 35px;
}      */
.panelGauge {
    /*background-color: #3071A9;*/
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    /*color: #ffffff;*/
    cursor: pointer;
    display: block;
    float: left;
    height: 55px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
    opacity: 0.800000011920929;
    text-align: center;
    width: 100px;
}
.panelGauge.danger {
    background-color:
}
.panelGauge-heading {
    margin-top: -14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    opacity: 0.8;
    font-weight: bolder;
    display: block;
    font-family: Arial;
    font-size: 10px;
    height: 11.1875px;
    line-height: normal;
    stroke: none;
    text-anchor: middle;
    white-space: nowrap;
}
.panelGauge-text {
    box-sizing: border-box;
    /*color: #3071A9;*/
    cursor: pointer;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    height: 35px;
    line-height: 35.20000076293945px;
    margin-bottom: 10.5px;
    margin-top: 14px;
    text-align: center;
    width: 100px;
}