body {
    padding-top: 40px;
}

a {
    color: #00B7FF;
}

.navbar
{
    background-color: #5e00ff;
}

.navbar-default .navbar-nav>li>a
{
  color: #000000;
}

.navbar-default .navbar-nav>li>a
{
  padding-bottom: 12px;
}

.btn
{
  padding-bottom: 11px;
  padding-top: 11px;
}

.dataTables_wrapper
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}


.btn-event
{
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 7px;
    margin-left: 6px;
    margin-right: 6px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width: 0px;
    border-right-width: 0px;
    height: 26px;
}

.span-event.silenced
{
    color: red;
}

.span-event.client
{
    margin-left: 6px;
    margin-right: 6px;
}
.span-event.active
{
    color: black;
}