extends ../layout

block head
  include ../datatables_css
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css')

block content
  .page-header
    h1 Create Event from Ticket
  .container
    .form-group
      fieldset
        legend Attach this event to a Ticket
        label(for="ticketID") Enter an exising Ticket number:
        input.form-control(type="number", id="#{uuid}-ticketID", placeholder="Enter a valid, existing, Ticket Number")
        label
          | Or:
          input(id="escalate-#{uuid}", type="checkbox"
          | Escalate to a NEW ticket



block footer


"use strict";
//http://note19.com/2007/05/27/javascript-guid-generator/
var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
  var r = Math.random()*16|0, v = c === 'x' ? r : (r&0x3|0x8);
  return v.toString(16);
  });
var sensuEvent = JSON.parse(decodeURI(text));
var recipient;
if (sensuEvent.email && sensuEvent.company) {
  recipient = '<label for="recipient">Make Sure Recipient is a valid email for: <br/>'+ sensuEvent.company +'</label>' +
'<input type="email" class="form-control" id="' + uuid + '-recipient" value="' + sensuEvent.email + '">';
} else {
  recipient = '<label for="recipient">Make Sure Recipient is a valid email for: <br/>No Company Specified</label>' +
'<input type="email" class="form-control" id="' + uuid + '_recipient" value="monitor@contegix.com">';
}
var html = '<container><div class="row"><div class="col-md-7"><pre>' + prettyPrintOne(decodeURI(text)) + '</pre></div><div class="col-md-4"><div class="row">';
html +=  '<form role="form" id="' + uuid + '-form">' +
  '<div class="form-group">' +
  '<fieldset><legend>Attach this event to a Ticket</legend>' +
  '<label for="ticketID">Enter an existing Ticket number:</label>' +
  '<input type="number" class="form-control" id="' + uuid + '-ticketID" placeholder="Enter a valid, existing, Ticket Number">' +
  '<label>Or:&nbsp;<input id="escalate-' + uuid + '" type="checkbox">&nbsp;Escalate to a NEW ticket</label>' +
  '</div></fieldset>' +
  '</div><div class="row"><fieldset><legend>Pass along any relevant documentation: </legend><div class="form-group">' +
  '<textarea class="form-control" type="text" id="documentation" name="documentation" rows="4""></textarea>' +
  '</fieldset>' +
  '<input type="hidden" value="' + uuid + '" id="uuid" name="uuid">' +
  '<input type="hidden" value="' + text + '" id="event" name="event">' +
  recipient +
  '<button type="submit" id="' + uuid + '-submit" class="btn btn-default">Submit Ticket</button>' +
  '</form>' +
  '<script type="text/javascript">$("#escalate-' + uuid + '").click(function() { $("#' + uuid + '-ticketID").attr("disabled", this.checked); }); $( "#' + uuid + '-form" ).submit(handleTicketForm)</script></div></div></div>';
bootbox.alert({"message": html, buttons: { ok: { label: "Back", className: "btn-primary"}}, "className" : "wide-bootbox"});
};