div(class='navbar navbar-default navbar-fixed-top', role='navigation')
    .container
        .navbar-header
            button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        div(class='nav navbar-nav')
            ul(class='nav navbar-nav')
                li.active
                    a(href='/monitoring') Home
                li
                    a(href='/monitoring/events') Events
                li
                    a(href='/monitoring/stashes') Stashes
                li
                    a(href='/monitoring/clients') Clients
                li
                    a(href='/monitoring/checks') Checks
