extends ../layout
block head
  include ../datatables_css
block navbar
block content
  .container
    .page-header
      h1 Current Client List
    .container
      table(id="table_clients").table.table-condensed.sortable
        thead
          tr
            th Name
            th Address
            th Timestamp
            th Subscriptions
        tbody

block footer
  include ../datatables_js
  script(type='text/javascript').
    $(document).ready(function() {
      $('#table_clients').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/monitoring/list/clients',
        "iDisplayLength": 20,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "name",
            "mRender": function (name, type, row) {
              return '<a href="/ubersmith/devices/hostname/'+name+'">' + name + '</a>';
            }
          }, {
            "mData": "address"
          }, {
            "mData": "timestamp"
          }, {
            "mData": "subscriptions"
          }],
        "aaSorting": [[0,'asc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });