extends ../layout
block head
  link(rel='stylesheet', href='/stylesheets/bootstrap-sortable.css')
block navbar
block content
  .container
    .page-header
      h1 Current Client List
    .container
      table.table.table-condensed.sortable
        thead
          tr
            th Name
            th Address
            th Timestamp
            th Subscriptions
        tbody
          each client in clients
            tr
              td #{client.name}
              td #{client.address}
              td #{getFormattedTimestamp(client.timestamp)}
              td
                ul.list-unstyled
                  each subscription in client.subscriptions
                    li= subscription
block footer
