extends ../layout
block head
  include ../datatables_css
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css')

block content
  .container
    .page-header
      h1 Current Event Status
    .container
      table(id='table_events').table.table-condensed.sortable
        thead
          tr
            th Issued
            th Client
            th Check
            th Flapping
            th Count
            th.visible-lg Output
        tbody
block footer
  include ../datatables_js
  script(src='//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js')
  script(src='/javascripts/sensu-helper.js')
  script(type='text/javascript').
    $(document).ready(function() {
      oTable = $('#table_events').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/api/v1/sensu/events/filtered',
        "iDisplayLength": 10,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "issued",
            "sWidth": "80px"
          }, {
            "mData": "client",
            "sWidth": "140px",
            "mRender": function (client, type, row) {
              return renderButton(client, 'false') + '<a href="/ubersmith/devices/deviceid/'+row['dev'] + '">' + client.replace('.contegix.mgmt', '') + '</a>';
            }
          }, {
            "mData": "check",
            "mData": "client",
            "sWidth": "220px",
            "mRender": function(client, type, row) {
              return renderButton(row['client'], row['check']) + row['check'];
            },
          }, {
            "mData": "flapping",
            "sWidth": "40px"
          }, {
            "mData": "occurrences",
            "sWidth": "40px"
          }, {
            "mData": "output",
            "mRender": function (output, type, row) {
              var dispOutput = output.slice(0,75).replace(/["']/g, "");
              var txtBoxText = encodeURI(JSON.stringify(row, null, 2));
              return "<a onclick=\"displayTextAlert('" + txtBoxText + "');\">" + dispOutput + "</a>";

            }
          }],
        "aaSorting": [[1,'desc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });
