extends ../layout
block head
  link(rel='stylesheet', href='/stylesheets/dataTables.bootstrap.css')

block content
  .container
    .page-header
      h1 Current Event Status
    .container
      table(id='table_events').table.table-condensed.sortable
        thead
          tr
            th(data-defaultsort='desc') Issued
            th(data-defaultsort='disabled') Client
            th(data-defaultsort='disabled') Check
            th(data-defaultsort='disabled').visible-lg Output
        tbody
block footer
  script(src='/javascripts/jquery.dataTables.min.js')
  script(src='/javascripts/dataTables.bootstrap.js')
  script(src='/javascripts/sensu-helper.js')
  script(type='text/javascript').
    $(document).ready(function() {
      oTable = $('#table_events').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "sAjaxSource": '/sensu/events',
        "iDisplayLength": 10,
        "bStateSave": true,
        "bDeferRender": true,
        "bSortClasses": false,
        "aoColumns": [
          {
            "mData": "issued"
          }, {
            "mData": "client",
            "mRender": function (client) {
              return '<a href="/ubersmith/devices/hostname/'+client+'">' + client + '</a>' +renderButton(client, 'false');
            }
          }, {
            "mData": "check",
            "mData": "client",
            "mRender": function(client, check) {
              return check + renderButton(client, check);
            }
          }, {
            "mData": "output",
            "mRender": function (output) {
              return output.slice(0,65);
            }
          }],
        "aaSorting": [[1,'asc']],
        "oLanguage": {
          "sLengthMenu": "_MENU_ records per page"
        }
      });
    });
