extends ../layout
block head
  link(rel='stylesheet', href='/stylesheets/bootstrap-sortable.css')
block navbar
block content
  .container
    .page-header
      h1 Current Stashes
    .container
      .panel.panel-default
        .panel-heading
          p Stashes
        .panel-body
          table.table.table-condensed
            thead
              tr
                th Path
                th Content
                th Expiration

            tbody
              each stash in stashes
                tr
                  td #{stash.path}
                  td #{JSON.stringify(stash.content)}
                  td #{stash.expire}


block footer
