extends layout
block head
    link(rel='stylesheet', href='/stylesheets/bootstrap-sortable.css')
block navbar
    include _navbar
block content
    .container
        .page-header
            h1 Current Stashes
        .container
            ul.list-unstyled
                each stash in stashes
                    li= stash
block footer
