script(src='//code.jquery.com/jquery-1.11.0.min.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
script(src='//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
script(src='/javascripts/sockets/base.js')