doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Sensu/Ubersmith/Puppet Management Interface')
    meta(name='author', content='Contegix LLC')
    title=title
    script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    block head
  body
    a(href="#content").sr-only Skip to main content
    .container
      #alert.container
        #alert
      #content.container
        .row
          .col-md-14
            block content

  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
  block footer
