extends ../../layout
block head
  link(rel='stylesheet', href='/stylesheets/datepicker3.css')
block content
  .page-header
    h1 New Lead
  .container
    .row
      .col-md-6
        include ../../partials/lead/leadform
