.panel.panel-default
  .panel-heading Sensu Checks
  .panel-body
    table(id="table_checks").table.table-condensed
      thead
        tr
          th Title
          th Occurences
          th Interval
          th Handlers
          th Command
      tbody