extends /layout
block head
    include /datatables_css

block content
    .row
        .page-header
            h1 Node Configuration Wizard
    .row
        .panel#deploymentForm.panel-default
            .panel-heading Deployment Configuration
            .panel-body
              form.margin-bottom-40(role='form')
              .col-xs-7.col-md-5
               .form-group
               label(for='mobs') MOBS
               |  
               input#mobsTxtInput.form-control(type='text')
               |  
               .form-group
               label(for='dpsTxtInput') DPS
               |  
               input#dpsTxtInput.form-control(type='text')
               |  
               .checkbox
               label
               input(type='checkbox')
               |  HA
               |  
               .form-group
               label(for='dpsTxtInput') Retention Period
               |  
               .radio
                label
                input#retentionRadiosMin(type='radio', name='retentionPeriod', value='15 min', checked='')
                | 15 min
               .radio
                label
                input#retentionRadiosHour(type='radio', name='retentionPeriod', value='1 hour')
                | 1 hour
               .radio
                label
                input#retentionRadiosDay(type='radio', name='retentionPeriod', value='1 day')
                | 1 Day
    .row
        .panel#vmWareForm.panel-default
            .panel-heading VM Ware
            .panel-body
              form.margin-bottom-40(role='form')
              .col-xs-7.col-md-5
                .form-group
                label(for='ovfTxtInput') Base OVF
                |  
                input#ovfTxtInput.form-control(type='text', placeholder='URL')
                .col-xs-7.col-md-5
                table.table.borderless
                  thead
                    tr
                      th
                      |                                 
                      th CPU
                      |                                 
                      th MEM
                      |                                 
                      th I/O
                    |                         
                  tbody
                    tr
                      td VM1
                      |                                 
                      td
                        input(type='text')
                      |                                 
                      td
                        input(type='text')
                      |                                 
                      td
                        input(type='text')
                    tr
                      td VM1
                      |                                 
                      td
                        input(type='text')
                      |                                 
                      td
                        input(type='text')
                      |                                 
                      td
                        input(type='text')
                    tr
                      td VM3
                      |                                 
                      td
                        input(type='text') 
                      |                                 
                      td
                        input(type='text')
                      |                                 
                      td
                        input(type='text')
                    tr
                      td VM4
                      |                                 
                      td
                        input(type='text') 
                      |                                 
                      td
                        input(type='text')
                      |                                 
                      td
                        input(type='text')
                    tr
                      td VM5
                      |                                 
                      td
                        input(type='text') 
                      |                                 
                      td
                        input(type='text')
                      |                                 
                      td
                        input(type='text')
    .row
        .panel#resultPage.panel-default(style='display:none')
            .panel-heading Results
            .panel-body
              form.margin-bottom-40(role='form')
                .form-group
                table.table.borderless
                  thead
                    tr
                      th Services
                      |                                 
                      th ZooKeeper
                      |                                 
                      th HDFS Name Node
                      |                                 
                      th HDFS ZKFC
                      |                                 
                      th HDFS Journal Node
                      |                                 
                      th HDFS Data Node
                      |                                 
                      th Hbase Master
                      |                                 
                      th Hbase Regionserver
                      |                                 
                      th OpenTSDB (Write)
                      |                                 
                      th OpenTSDB Docker (Read)
                      
                    |                         
                  tbody
                    tr
                      td Needed
                      td
                      td
                      td
                      td 
                      td
                      td
                      td
                      td 
                      td
                    tr
                      td Alloted
                      td
                      td
                      td
                      td 
                      td
                      td
                      td
                      td 
                      td
                    tr
                      td CPU1
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox') 
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox') 
                      td
                        input(type='checkbox')
                    tr
                      td CPU2
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox') 
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox') 
                      td
                        input(type='checkbox')
                    tr
                      td MEM1
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox') 
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox') 
                      td
                        input(type='checkbox')
                    tr
                      td MEM2
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox') 
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox') 
                      td
                        input(type='checkbox')
                    tr
                      td I/O 1
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox') 
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox') 
                      td
                        input(type='checkbox')
                    tr
                      td I/O 2
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox') 
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox')
                      td
                        input(type='checkbox') 
                      td
                        input(type='checkbox')
                      

    .row#calculateContainer
        button#calculateBtn.btn.btn-primary(type='button', style='float:right') Calculate
    .row#generateContainer(style='display:none')
        button#backBtn.btn.btn-primary(type='button', style='float:left') Back
        button#generatBtn.btn.btn-primary(type='button', style='float:right') Generate

block footer
    include /datatables_js
    script(type='text/javascript').
        $(document).ready(function () {
            $("#calculateBtn").click(function () {
            	$("#deploymentForm").hide();
            	$("#vmWareForm").hide();
            	$("#calculateContainer").hide();
                $("#resultPage").show();
                $("#generateContainer").show();
            });
            $("#backBtn").click(function () {
            	$("#deploymentForm").show();
            	$("#vmWareForm").show();
            	$("#calculateContainer").show();
                $("#resultPage").hide();
                $("#generateContainer").hide();
            });
            $("#generatBtn").click(function () {
            	alert('click on Generate button');
            });
        });