.panel.panel-default
  .panel-heading Ticket List
  .panel-body
    table(id="table_tickets").table.table-condensed
      thead
        tr
          th Created
          th Priority
          th Type
          th Assignee
          th Subject
          th Touched
      tbody